.footer{
    &__logo{
        display: flex;
        align-items: center;
        margin-top: 0;
        font-size: 5rem;
        color: $color-primary;
        font-weight: 500;
        &--box{
            height: 4.5rem;
            width: 4.5rem;
            fill: $color-primary;
            margin-right: .5rem;
        }
    }

    &__copy{
        margin: 0;
        font-size: 2rem;
        color: $color-grey-dark;
    }

    &__box{

    }

    &__list{
        font-size: 3rem;
        list-style: none;
        &--li{
            // margin-bottom: 1px;
            // list-style: none;
        }
        &--anchor{
            &, &:link, &:visited{
                text-decoration: none;
                color: $color-grey-dark;
            }

        }

    }

    &__social{
        &--fbk{
            height: 3.5rem;
            width: 3.5rem;
        }
        &--img{
            
        }
        &--twitter{
            height: 3.5rem;
            width: 3.5rem;
        }
        &--pin-interest{
            height: 3.5rem;
            width: 3.5rem;
        }
        &--ig{
            height: 3.5rem;
            width: 3.5rem;
        }
        &--telegram{
            height: 3.5rem;
            width: 3.5rem;
        }
    }
}